.foto-contenedor {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.foto-preview {
  width: 480x;
  height: 480px;
  object-fit: cover;
  border-radius: 12px;
  border: 3px solid white;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.3);
}
